body{
    min-width: 300px;
    max-width: 100%;
    position: relative;
    vertical-align:middle;
    text-align: center;
    background-color: white;
}

h1{
    padding: 20px;
    background: #1f242b;
    color: white;
    font-size: 20px;

}

p{
    color: #1f242b;
}

footer{
    color: #1f242b;
    text-align: center;
}
