.title{
    padding: 30px;
    background: #1f242b;
    color: white;
    font-size: 40px;
    text-align: center;
    margin-bottom: 50px;
}

.options{
    margin-left: 50px;
    font-size: 15px;
}

.switch {
    position: relative;
    display: inline-block;
    width: 30px;
    height: 17px;
    bottom: -1px;
    margin:10px;
}
  
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:#cc0000;
    -webkit-transition: .7s;
    transition: .7s;
}
  
.slider:before {
    position: absolute;
    content: "";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .7s;
    transition: .7s;
}
  
input:checked + .slider {
    background-color: #4fc400;
}
  
input:focus + .slider {
    box-shadow: 0 0 1px#4fc400;
}
  
input:checked + .slider:before {
    -webkit-transform: translateX(13px);
    -ms-transform: translateX(13px);
    transform: translateX(13px)
}
  
.slider.round {
    border-radius: 16px;
}
  
.slider.round:before {
    border-radius: 50%;
}